<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest" parallel="tests" thread-count="6">
    <test name="FirstTest">
        <parameter name="startType" value="selenoid"/>
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="org.akavity.tests.HeaderTest">
                <methods>
                    <include name="catalogNavigation"/>
                    <include name="selectCurrencyType"/>
                    <include name="selectPickUpPoint"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="SecondTest">
        <parameter name="startType" value="selenoid"/>
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="org.akavity.tests.SortTest">
                <methods>
                    <include name="sortProductsByPrice"/>
                    <include name="sortByAscendingPrice"/>
                    <include name="sortByDecreasingPrice"/>
                    <include name="sortByNewness"/>
                    <include name="sortByRating"/>
                    <include name="sortByBenefit"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="ThirdTest">
        <parameter name="startType" value="selenoid"/>
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="org.akavity.tests.FAQTest">
                <methods>
                    <include name="selectFAQ"/>
                    <include name="checkRefundAndPaymentInfo"/>
                    <include name="searchForQuestion"/>
                    <include name="serviceMenuNavigation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="FourthTest">
        <parameter name="startType" value="selenoid"/>
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="org.akavity.tests.ProductTest">
                <methods>
                    <include name="productSearch"/>
                    <include name="viewReviews"/>
                    <include name="viewQuestions"/>
                    <include name="openProductPopup"/>
                    <include name="addProductToBasket"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="FifthTest">
        <parameter name="startType" value="selenoid"/>
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="org.akavity.tests.HeaderTest">
                <methods>
                    <include name="selectProductFromLocalWarehouse"/>
                    <include name="selectPromotion"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
